*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    /* border: 2px solid green; */
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    /* border: 2px solid yellow; */
    padding: 20px;   
    text-align: center;
}

.container #form{
    /* border: 2px solid red; */
    padding:20px;
}
.container #form #text-field{
    padding: 5px;
    outline: none;
    border-radius: 5px;
    border-color:rgb(80, 80, 228);
}

.container #form #submit-btn{
    padding: 5px;
    background-color:rgb(80, 80, 228);
    color: white;
    border-radius: 5px;
    font-weight: bold;
    border: none;
}
.container #form #submit-btn:hover{
    background-color:rgb(63, 63, 162) ;
}

.container .task-list{
    /* border:2px solid red; */
    list-style-type: none;

}
.container .task-list li {
    /* border:2px solid rgb(0, 255, 106); */
   padding: 3px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    background-color:#f4f4f4;  
    
}

.container .task-list li button{
    /* border:2px solid rgb(0, 21, 255); */
    background-color: rgb(80, 80, 228);
    padding:5px;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}
.container .task-list li button:hover{
    background-color: rgb(63, 63, 162) ;
}